
<div class="cards-list">
  {{#each list}}
<div class="card">
  <a href="http://localhost:8080/api/products/{{this.id}}"class="card_image"><img src={{this.body.thumbnail}} alt={{this.id}} /></a>
  <div class="card_title title-white">
    <p>{{this.body.name}}</p>
  </div>
</div>
    {{/each}}
  

</div>