
    
<div class="cardsA-list">
  {{#each list}}
<div class="cardA">
  <a href="http://localhost:8080/views/{{this._id}}"class="card_image"><img src={{this.thumbnail}} alt={{this._id}} /></a>
  <div class="card_title title-white">
    <p>{{this.name}}</p>
  </div>
</div>
    {{/each}}
  

</div>