         <div>
        <div class="header-blue">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                <div class="container-fluid">
                    <div class="col-8 col-sm-6">
                        <a class="navbar-brand" href="http://localhost:8080/views/products">HOME BAKERY</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                    <div class="collapse navbar-collapse alineado" id="navbarSupportedContent" >
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="http://localhost:8080/views/products">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8080/">Agregar</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Carrito de compras</a></li>
                          </ul>
                        </li>
                        <div class="mt-1 divLog">
                                <span class="navbar-text ml-4"> <a class="login" href="#">Log In</a></span><a class="btn btn-light action-button" role="button" href="#">Signup</a>

                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    
<div class="cardsA-list">
  {{#each list}}
<div class="cardA">
  <a href="http://localhost:8080/views/{{this.id}}"class="card_image"><img src={{this.thumbnail}} alt={{this.id}} /></a>
  <div class="card_title title-white">
    <p>{{this.name}}</p>
  </div>
</div>
    {{/each}}
  

</div>